.auto-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:.5rem
}
.left{text-align: left;}
.btn{
  display:block;
  padding:.75rem;
  border:2px solid #ff5757;
  text-decoration:none;
  color:#0e0e0f;
  font-size:1.1rem;
  text-align:center;
}
table{margin-bottom: .2rem;}
.btn:hover,
.btn:focus-visible{
  background:#ee01018a;
  color:white;
  outline:0;
  border:2px solid black;
  box-shadow: 0px 0px 12px #ee01018a;
}
.btn:active{background:#00000022}
@media(min-width:768px){
  .md-3{grid-column:span 3}
  .md-4{grid-column:span 4}
  .md-6{grid-column:span 6}
}
@media(min-width:1024px){
  .lg-3{grid-column:span 3}
  .lg-4{grid-column:span 4}
  .lg-6{grid-column:span 6}
}
.sari{background:#FFD500}
.siyah{background:#30302f8a}
.header-row{
  font-weight:700;
  font-size:.8rem;
  background:#f5f5f5;
  border-bottom:2px solid #000;
  padding:.3rem 0
}
.header-row>div{text-align:center}
.header-row>div:first-child{text-align:left}